body {
  max-width: 2100px; /*responsive*/
    padding: 0;
    background-color: rgb(61, 66, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;  /*responsive*/
}

article .container {
  width: 100%;  /*responsive*/
}

.blockcont {
  width: 80%;
}

.sidebar {
  width: 20%;
  padding-left: 20px;
}

footer {
   width: 100%;  /*responsive*/
}

.block_post__text-img {
      width: 100%;
    height: auto;
  } 



.clearer {
    display: flex;
    justify-content: space-between;
    align-items: center; /*ÃÂ²ÃÂµÃ‘â‚¬Ã‘â€šÃÂ¸ÃÂºÃÂ°ÃÂ»Ã‘Å’ÃÂ½ÃÂ¾ÃÂµ ÃÂ²Ã‘â€¹Ã‘â‚¬ÃÂ°ÃÂ²ÃÂ½ÃÂ¸ÃÂ²ÃÂ°ÃÂ½ÃÂ¸ÃÂµ*/
    margin: 0;
    padding: 10px;
    background-color: #F1F1F1;
    border: none;
    color: #444444;
    font: 12px Arial;
  }
 

  .clearer_login {
    display: flex;
  }
  
  .clearer_login__reg-btn, 
  .clearer_login__log-btn {
    flex-direction: row;
    margin: 5px;
    width: auto;
  }

  .btn {
cursor: pointer;
border: 1px solid #d9d9d9;
padding: 5px;
text-decoration: none;
color: #444;
/* overflow: hidden; */
}
  
  .clearer_login__reg-btn {
  width: 100px;
  }
  
  .clearer_login__reg-btn::before {
    position: absolute; 
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("panel_buttons.png");
    background-repeat: no-repeat;
    background-position: -180px -90px;
    margin-right: 5px;
    text-align: center;
  } 

  .clearer_login__reg-btn::before:hover {
      background-color: yellow;
  }

  .clearer_login__log-btn {
    width: 60px;
  }
  
  .clearer_login__log-btn::before {
    position: absolute; 
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("panel_buttons.png");
    background-repeat: no-repeat;
    background-position: -270px -90px;
  }  

 .main-menu {
    display: inline-block;
    margin-top: 30px;
  }

.main-menu a {
  text-decoration: none;
  background-color:rgb(230, 230, 230);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  color:rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  /* text-decoration-color:rgb(0, 0, 0); */
  /* text-decoration-style: solid; */
  /* text-shadow:rgb(255, 255, 255) 1px 1px 1px; */
  /* padding: 10px 30px; */
  /* margin: 5px 0 0 0; */
  /* margin: 0 0 0 2px; */
  padding: 9px 30px 9px;
  font-family: Tahoma;
  /* height: 17px; */
  width: 145px;
  
  }

  .logo {
    /* background-color: white; */
    /* min-width: 800px; */
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
  }
  
  
  .logo_picture-elastic {
    background-image: url("pat.png");
    background-repeat:repeat-x;
    width: 40%;
  }
  
  .logo_picture-logocity {
    background-image: url("pat.png");
    background-repeat:repeat-x;
   
  }
  
  img .logo_picture-logocity {
  z-index: 2;
  } 
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  .categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 15px; */
    /* justify-content: space-around; */
  }

  .categories_list {
    padding: 15px;
    font-weight: bold;
    border-right: 1px solid grey;
  }
  
  .categories_list-main {
    list-style: none;
    padding: 0;
  }
  
  .categories_list-main a {
    font-weight: bold;
    color: #5c5b60;
  }
  
  ul .categories_list-main {
  }
  
  .categories_list-main li {
    display: inline-block;
  }
  
  .categories-btn {
    /* height: 20px; */
    /* width: 130px; */
    margin: 0 20px;
  }
  
  .categories-btn span {
  align-self: flex-end;
 }

  .blockcont {
    border: 1px solid red;
  }

  .block {
    display: flex;
    flex-direction: column;

  }
  
  .block_post {
    display: flex;
    flex-direction: column;
  }
  
  .block_post__text {
    display: flex;
    flex-direction: column;
  }
  .block_post__text-header {
    text-decoration: none;
  }
  
  .block_post__text-header h2 {
    color: #5195CA;
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    margin: 15px 0 5px 0;
    cursor: pointer;
  }
  
  .block_post__text-header h2:hover {
    color: red;
  }
  
  .block_post__info-user,
  .block_post__info-comment,
  .block_post__info-categories {
    color: #5c5b60;
  }
  
  .block_post__info-user {
    margin: 5px;
  }
  
  .pages .pagespaginator {
    background-color: #798397;
    padding: 10px;
  }
  
  .pages .pagespaginator a,
  .pages .pagespaginator span {
    display: inline-block;
    min-width: 20px;
    height: 20px;
    padding: 0 10px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
  }
  
  .pages .pagespaginator a {
    border-right: 1px solid black;
  }
  
  .pagespaginator .current {
    color: black;
  }
  
  .pages .pagespaginator a:hover {
    opacity: 0.3;
  }
  
  aside .sidebar {
    display: flex;
    flex-direction: row;
  }
  
  .widget {
   
  }
  
  .widget_townspeople {
    margin: 10px 0;
  }
  
  .widget_townspeople__new {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .widget_townspeople__new-users  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .widget_townspeople__new-btn {
    margin: 30px 0;
  }
  
  .widget_townspeople__new-btn, 
  .widget_townspeople-btn,
  .widget_townspeople-birth {
    width: auto;
  }
  
  .widget_townspeople__new-us {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
  }
  
  img .widget_townspeople__new-img {
    width: 50%;
    height: auto;
  }

  .widget_townspeople__new-user .btn-blue {
    margin: 30px 0;
  }
  
  .entertainment_wrapper h1 a {
    color: black;
    font-size: 30px;
  }
  
  .entertainment_wrapper__nav a {
    color: #5c5b60;
  }
  
  .entertainment_wrapper__nav li {
    display: inline-block;
    list-style: none;
  }
  
  .block_ent {
    display: flex;
    flex-direction: row;
  }
  
  .entertainment_new {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .entertainment_new-name h1 {
    font-size: 20px;
  }
  
  .entertainment_new__data {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  
  .entertainment_new__data__contact {
    margin-left: 10px;
  }
  
  footer {
    background-color: white;
    margin-top: 0;
  }
  
  .logo-footer {
    margin: 20px 30px;
  }

  /* 950px */
@media only screen and (max-width: 950px) {
 /*  .container {
    display: flex;
    flex-direction: column;
  }*/
  .widget_townspeople__new-users { /* Ð½Ð¾Ð²Ñ‹Ðµ Ð³Ð¾Ñ€Ð¾Ð¶Ð°Ð½Ðµ*/
    display: flex;
    flex-direction: column;
    background-color: #ffb549
  }
   .block_ent { /* Ð½Ð¾Ð²Ñ‹Ðµ Ñ€Ð°Ð·Ð²Ð»ÐµÑ‡ÐµÐ½Ð¸Ñ Ð² Ð³Ð¾Ñ€Ð¾Ð´Ðµ*/
    display: flex;
    flex-direction: column;
  }

}

/* 650px */
@media only screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .block_ent { { /* Ð½Ð¾Ð²Ñ‹Ðµ Ñ€Ð°Ð·Ð²Ð»ÐµÑ‡ÐµÐ½Ð¸Ñ Ð² Ð³Ð¾Ñ€Ð¾Ð´Ðµ*/
    display: flex;
    flex-direction: column;
  }
  
  .widget_townspeople__new-users { /* Ð½Ð¾Ð²Ñ‹Ðµ Ð³Ð¾Ñ€Ð¾Ð¶Ð°Ð½Ðµ*/
    display: flex;
    flex-direction: column;
    background-color: #ffb549;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

}
