body {
    margin: 0;
    padding: 0;
    background-color: rgb(61, 66, 77);
}
.clearer {
    display: flex;
    justify-content: space-between;
    align-items: center; /*вертикальное выравнивание*/
    margin: 0;
    padding: 10px;
    background-color: #F1F1F1;
    border: none;
    color: #444444;
    font: 12px Arial;
  }
 

  .clearer_login {
    display: flex;
  }
  
  .clearer_login__reg-btn, 
  .clearer_login__log-btn {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: auto;
  }
  .btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    padding: 5px;
    text-decoration: none;
    color: #444;
    overflow: hidden;
  }
  
  .clearer_login__reg-btn {
  width: 100px;
  }
  
  .clearer_login__reg-btn::before {
    position: absolute; 
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("panel_buttons.png");
    background-repeat: no-repeat;
    background-position: -180px -90px;
    margin-right: 5px;
    text-align: center;
  } 

  .clearer_login__reg-btn::before:hover {
      background-color: yellow;
  }

  .clearer_login__log-btn {
    width: 60px;
  }
  
  .clearer_login__log-btn::before {
    position: absolute; 
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("panel_buttons.png");
    background-repeat: no-repeat;
    background-position: -270px -90px;
  }
  .btn span {
    align-self: flex-end;
  }

 .main-menu {
    margin-top: 10px;
    margin-bottom: 3px;
  }

 .main-menu .mobile {
 display: none;
  }

.main-menu a {
  text-decoration: none;
  background-color:rgb(230, 230, 230);
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  color:rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  height: 17px;
  line-height: 15px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
  text-align: left;
  text-decoration-color:rgb(0, 0, 0);
  text-decoration-style: solid;
  text-shadow:rgb(255, 255, 255) 1px 1px 1px;
  }

  /*responsive main */
  @media screen and (max-width: 800px) {
    .main-menu .mobile {
        display: inline-block;
    }
    .main-menu .desktop {
        display: none;
        width: 100px;
    }
  }

article {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 105, 10);

}

aside {
    flex-grow: 1;
    background-color: rgba(254, 254, 34);

}

footer {
    background-color: rgba(255, 33, 255);
}